:root {
  --dark-blue: #152031;
  --beige: #fef6e0;
  --orange: #fe754f;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #93c3c3, #6a94ad);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

}
