.Nav{
    /* position: fixed; */
     display: flex;
  align-items: center;
  justify-content: left;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4); /* Dolny cień */

    height: 50px;
    margin: 0;
    background-color:#152031;
    width: 1200px;
    top: 30px;
    border-radius: 10px 10px 0 0;
    left: 70px;
    z-index: 2;
}

.Nav>button{
    margin: 40px;
    cursor: pointer;
    background-color: #05a;
    border-color: white;
    border-radius: 5px;
    color: white;
    padding: 3px 10px;
    
}

